
@font-face{
    font-family:myfont1;
    src:url('../fonts/FontAwesome.otf')
}
.navbar-default {
    background-color: #3794f3;
    border-color: #e7e7e7;
}
.navbar-fixed-bottom {
    background-color: #3794f3;
    bottom: 0;
    margin-bottom: 0;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: #3b24b3;
}
.subfooter{
    font-family:myfont1;
    text-align:center;
}
#searchnames 
{
    width:130px;
    background-image: url('../images/download (2).png');
    background-repeat:no-repeat;
    background-position:10px 10px;
    transition: width 0.4s ease-in-out;
    padding:12px 10px 12px 12px;
}
#searchnames:focus
{
    width:100%;
}
.img-size{
    font-size:90px;
}
.navbar-user{
    padding:10px;
    padding-bottom:0px;
    width:350px;
}